/*Color Picker*/
.customize-control {
    position: relative;
}

.customize-control-color,
.customize-control-total-alpha-color {
    position: relative;
}


.customize-control .wp-picker-container {
    position: static;
}

.customize-control .wp-picker-container .wp-color-result.button {
    position: absolute !important;
    right: 0 !important;
    top: 8px !important;
    border-radius: 100% !important;
    min-height: 0 !important;
    height: 28px !important;
    width: 28px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    border: 1px solid #CCC !important;
    background-color: transparent;
}

.customize-control .wp-picker-container .wp-color-result.button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAAHnlligAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHJJREFUeNpi+P///4EDBxiAGMgCCCAGFB5AADGCRBgYDh48CCRZIJS9vT2QBAggFBkmBiSAogxFBiCAoHogAKIKAlBUYTELAiAmEtABEECk20G6BOmuIl0CIMBQ/IEMkO0myiSSraaaBhZcbkUOs0HuBwDplz5uFJ3Z4gAAAABJRU5ErkJggg==);
}

.customize-control .wp-picker-container .wp-color-result.button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: inherit;
}

.customize-control .wp-picker-container .wp-color-result.button[style*="background-image"]:after {
    display: none;
}

.customize-control .wp-picker-container .wp-color-result.button .color-alpha {
    z-index: 2;
}

.customize-control .wp-picker-container .wp-color-result.button .wp-color-result-text {
    display: none;
}

.customize-control .wp-picker-container .wp-color-result.wp-picker-open+.wp-picker-input-wrap {
    display: flex;
    vertical-align: top;
    background: #FFF;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #dcdcde;
}

.customize-control .wp-picker-container .wp-picker-input-wrap label {
    flex-grow: 1;
}

.customize-control .wp-picker-container .wp-picker-input-wrap label input {
    width: 100% !important;
}

.customize-control.customize-control-total-alpha-color .wp-color-result span {
    background: none;
    z-index: 2;
}

/**
 * Multiple Gallery Upload Image
*/
.gallery-screenshot {
    margin-bottom: 10px;
    margin-left: -5px;
    margin-right: -5px;
}

.gallery-screenshot .screen-thumb {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
    float: none !important;
}

.gallery-screenshot .screen-thumb:nth-child(2n+1) {
    clear: both;
}

.gallery-screenshot .screen-thumb img {
    border: 1px solid #EEE;
    vertical-align: middle;
}

#clear-gallery {
    float: right;
}


/**
 * Customizer Icon Settings Area
*/
.customize-pane-parent .control-section .accordion-section-title:before {
    font-family: dashicons;
    content: "\f103";
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#accordion-panel-kingcabs_general_settings .accordion-section-title:before {
    content: "\f111";
}

#accordion-panel-kingcabs_home_panel .accordion-section-title:before {
    content: "\f102";
}

#accordion-panel-nav_menus .accordion-section-title:before {
    content: "\f333";
}

#accordion-panel-widgets .accordion-section-title:before {
    content: "\f116";
}

#accordion-panel-widgets .accordion-section-title:before {
    content: "\f116";
}

#accordion-section-custom_css .accordion-section-title:before {
    content: "\f499";
}

#accordion-section-kingcabs_main_banner_area .accordion-section-title:before {
    content: "\f233";
}

/**
 * Customizer Title
*/
.customize-control-title {
    color: #0073aa;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 10px 10px 11px 14px;
    line-height: 21px;
    background: #FFF;
    margin: 0 -12px 0;
    border-left: 4px solid #0073aa;
    margin-bottom: 15px;
}

/**
 * Gallery Control
*/
.gallery-screenshot {
    margin-bottom: 10px;
    margin-left: -5px;
    margin-right: -5px;
}

.gallery-screenshot .screen-thumb {
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
    float: left;
}

.gallery-screenshot .screen-thumb:nth-child(2n+1) {
    clear: both;
}

.gallery-screenshot .screen-thumb img {
    border: 1px solid #EEE;
    vertical-align: middle;
}

#clear-gallery {
    float: right;
}

/**
 * Chosen Control 
*/
.chosen-container-single .chosen-single {
    border-radius: 0px;
    height: 28px;
    background: #FFF;
    border-color: #DDDDDD;
    line-height: 28px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
}

.chosen-container-single .chosen-single div b {
    background-position: 0px 4px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 4px;
}

.chosen-container-multi .chosen-choices li {
    float: none;
}

/**
 * FontAwesome Icon Styles
*/
.kingcabs-type-icon {
    overflow: hidden;
}

.kingcabs-selected-icon {
    background: #F6F6F6;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #EEE;
    position: relative;
    margin-right: 45px;
    cursor: pointer;
    font-size: 28px;
}

.kingcabs-selected-icon .fa {
    display: block;
    line-height: 45px;
}

.kingcabs-selected-icon span {
    position: absolute;
    background: #F6F6F6;
    right: -45px;
    top: -1px;
    height: 45px;
    width: 45px;
    border: 1px solid #EEE;
    font-size: 20px;
}

.kingcabs-icon-list {
    height: 215px;
    overflow-y: scroll;
    font-size: 18px;
    border: 1px solid #EEE;
    border-right: 0;
    border-top: 0;
    padding-bottom: 4%;
    display: none;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.kingcabs-icon-list li {
    float: left;
    margin: 4% 3% 0;
    height: 40px;
    width: 16%;
    text-align: center;
    line-height: 40px;
    border: 1px solid #EEE;
}

.kingcabs-icon-list li:hover {
    background: #333;
    border: 1px solid #333;
    color: #FFF;
}

.kingcabs-icon-list li.icon-active {
    background: #0073aa;
    border: 1px solid #0073aa;
    color: #FFF;
}