#customize-controls .control-section-kingcabs .accordion-section-title:hover,
#customize-controls .control-section-kingcabs .accordion-section-title:focus {
	background-color: #fff;
}

.rtl .control-section-kingcabs .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

.control-section-kingcabs .accordion-section-title .button {
  font-weight: 700;
  margin-left: 8px;
  border-color: #ff0202;
  background-color: #ff0202;
  color: #fff;
}

.control-section-kingcabs .accordion-section-title .button:hover {
  background-color: #ff0202;
  border-color: #ff0202;
}

#accordion-section-kingcabs .accordion-section-title:before{
    content: '';
}

.customize-control-king-cabs-upgrade-text{
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 10px;
}

.customize-control-king-cabs-upgrade-text label{
    padding: 0 0 0 26px;
    display: block;
}

.customize-control-king-cabs-upgrade-text .dashicons{
    float: left;
    margin-left: -26px;
}

.customize-control-king-cabs-upgrade-text ul{
    margin: 8px 0 0 16px;
    font-style: italic;
}

.customize-control-king-cabs-upgrade-text ul li{
    margin-bottom: 3px;
    padding-left: 8px;
    line-height: 1.3;
}

.customize-control-king-cabs-upgrade-text ul li:before{
    content: '- ';
    margin-left: -8px;
}

.control-section-king-cabs-upgrade-section{
    background: #FFF;
    padding: 20px;
    margin: 15px;
}

.control-section-king-cabs-upgrade-section .button{
    display: block;
    text-align: center;
    margin-top: 10px;
}

.control-section-king-cabs-upgrade-section label{
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}