/*single tab-btns*/

@media only screen and (max-width: 1200px) {
    .prod-tabs .tab-btns .tab-btn {
        padding: 8px 24px;
    }

    .call-to-action h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .call-to-action a.btn.btn-primary {
        margin: 0 auto;
        max-width: 220px;
        width: 100%;
        display: block;
        float: none !important;
    }

    footer {
        padding-top: 140px;
    }
}

@media only screen and (max-width: 1140px) {

    /*navigation*/
    .main-header .logo-section .logo-left {
        text-align: center;
    }

    .main-header .logo-section .logo-right {}

    .main-header .logo-section .logo-right .main-menu {
        text-align: left;
    }

    .main-header .logo-right-info {
        text-align: left;
        width: 220px;
    }

    .header-style-one .navigation>li {
        margin-right: 25px;
    }

    /*footer*/
    .main-footer .links-widget {
        padding-left: 0px;
    }

    .footerup::after,
    .footerup:before,
    .footerup .footerup-right .footerup-inner:before {
        display: none;
    }

    .footerup .footerup-left {
        background: #F1E093;
    }

    .footerup .footerup-right .footerup-inner {
        margin: 0px;
    }

    .footerup .footerup-right .footerup-inner .footerup-box .text {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 1023px) {

    /*navigation*/
    .main-header .header-top-two .top-left ul li,
    .main-header .header-top-two .top-right ul li {
        float: none;
        display: inline-block;
        margin: 0px 10px;
    }

    .main-header .logo-right-info {
        width: auto;
        margin-right: 15px;
    }

    .main-header .navigation>li {
        margin-right: 30px;
    }

    .main-header .logo-section .logo-right {
        display: inline-block;
    }
}

@media (max-width: 992px) {

    /*top header*/
    .top-header .col-md-7 {
        display: none;
    }

    .top-header .col-md-5 {
        width: 100%;
        text-align: center;
    }

    .carousel-inner .item .col-md-5 {
        display: none;
    }

    .middle-text h2 {
        font-size: 2em;
    }

    .call-to-action a.pull-right {
        float: none !important
    }

    .call-to-action h2 {
        font-size: 30px;
    }

    .call-to-action {
        text-align: center;
    }

    .call-to-action a.btn.btn-primary {
        margin-top: 15px;
    }

    .footerup {
        top: -90px !important;
    }

    footer {
        padding: 140px 0 70px 0;
        margin-top: 50px;
    }

    .booking .datetime .col-md-6 {
        padding: 0;
        margin: 0;
    }

    .main-header .logo-section>.container {
        display: flex;
    }

    .main-header .logo-section .logo-left {
        margin-bottom: 32px;
        text-align: left;
    }

    .main-header .logo-section .logo-right {
        flex: 1;
    }
}

@media (max-width: 900px) {
    body {
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 768px) {

    /*navigation*/
    .main-menu .navigation>li>ul,
    .main-menu .navigation>li>ul>li>ul {
        display: block !important;
        visibility: hidden;
        opacity: 0;
    }
}

@media only screen and (max-width: 768px) {

    /*section title*/
    .section-title {
        text-align: center;
        padding: 0 50px;
        width: 100%;
        margin: 0 auto 30px auto;
    }

    .section-title h2 {
        font-size: 24px;
    }

    /*service-block*/
    .feature-image {
        margin: 50px 0;
    }

    .service-block .service-block-inner .service-icon {
        position: relative;
        left: 0px;
        top: 0px;
        margin: 0 auto 30px;
    }

    .carousel-form {
        position: initial;
        z-index: 999999;
        top: 0;
        width: 100%;
        right: 0;
        transform: translateY(0);
        min-height: 510px;
        margin-bottom: 50px;
    }

    .booking .datetime .col-md-6 {
        padding: 0;
        margin: 0;
    }

    /*blogpage*/
    .page-content {
        padding: 0;
    }

    .page-content .about-post:first-child {
        margin-top: 30px;
    }

    .blog-left .page-content {
        margin-top: 30px;
    }

    #gallery .col-sm-6,
    footer .col-md-7,
    footer .col-md-5,
    .kingcabs-counter .col-sm-6 {
        width: 50%;
        float: left;
    }

    /*footer*/
    footer .links-widget {
        padding-left: 0;
    }

    /*call-us*/
    .call-us .phn-icon-circle {
        margin-bottom: 20px;
    }

    .footer-bottom .col-md-6 .text-left,
    .footer-bottom .col-md-6 .text-right {
        text-align: center !important;
    }

    .footer-bottom .col-md-6 .text-left {
        text-align: center !important;
        margin-bottom: 20px;
        line-height: 18px;
    }

    .gallery-content .info .price strong,
    .gallery-content .info li span {
        font-size: 12px;
    }

    .gallery-content .info li {
        padding: 5px !important;
    }

    .middle-text h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .menu-main-menu-container {
        display: block;
        position: absolute;
        left: 0;
        z-index: 25;
        width: 100%;
        background: black;
    }

    /*navigation*/
    .main-header .logo-section {
        text-align: center;
        padding-bottom: 0;
        flex: 1;
    }

    .main-header .logo-section .logo-left {
        width: 100%;
        margin-bottom: 20px;
    }

    .main-header .logo-section .logo-right {
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    .main-header .logo-section .logo-right-info {
        margin-left: 0px;
        display: flex;
        padding-left: 0;
        margin: 0;
        padding-right: 15px;
        max-width: none;
        padding-left: 20px;
    }

    .main-header .logo-right-info .logo-right-iconbox {
        display: none;
    }

    .main-header .logo-right .btn-box .btn-primary {
        display: inline-block;
        padding: 10px;
        line-height: 24px;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        border-radius: 3px;
        color: #000;
        background-color: #d9c77e;
        border-color: #d3be6a;
    }

    .main-header .main-menu {
        padding-top: 0px;
        width: 100%;
        margin: 0px;
    }

    .main-menu .navbar-header {
        position: absolute;
        float: none;
        display: block;
        text-align: right;
        width: 100%;
        padding: 0;
        right: 0px;
        z-index: 12;
    }

    .main-menu .navbar-header .navbar-toggle {
        display: inline-block;
        z-index: 7;
        border: 1px solid #d3be6a;
        float: none;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        background: #d3be6a;
        padding: 0 8px;
        top: -54px;
        color: #333;
        width: 45px;
        height: 46px;
    }

    .main-menu .navbar-collapse>.navigation>li {
        margin: 0px !important;
        float: none !important;
        width: 100%;
    }

    .main-menu .navigation>li>a,
    .main-menu .navigation>li>ul:before {
        border: none;
    }

    .main-menu .navigation li.dropdown>a:after,
    .main-menu .navigation>li.dropdown>a:before,
    .main-menu .navigation>li>ul>li>a::before,
    .main-menu .navigation>li>ul>li>ul>li>a::before {
        color: #ffffff !important;
        right: 15px;
        font-size: 16px;
        display: none !important;
    }

    .main-menu .navigation>li a::before {
        display: none !important;
    }

    .main-menu .navbar-collapse>.navigation>li>ul,
    .main-menu .navbar-collapse>.navigation>li>ul>li>ul {
        position: relative;
        border: none;
        float: none;
        visibility: visible;
        opacity: 1;
        display: none;
        margin: 0px;
        left: auto !important;
        right: auto !important;
        top: auto !important;
        width: 100%;
        background: #333;
        -webkit-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        transition: none !important;
        -webkit-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
        -moz-transition: none !important;
    }

    .main-menu .navbar-collapse>.navigation>li>a:hover,
    .main-menu .navbar-collapse>.navigation>li>a:active,
    .main-menu .navbar-collapse>.navigation>li>a:focus {
        background: #333;
        color: #F1E093;
    }

    .main-menu .navbar-collapse>.navigation>li:hover>a,
    .main-menu .navbar-collapse>.navigation>li>ul>li:hover>a,
    .main-menu .navbar-collapse>.navigation>li>ul>li>ul>li:hover>a,
    .main-menu .navbar-collapse>.navigation>li.current>a,
    .main-menu .navbar-collapse>.navigation>li.current-menu-item>a {
        background: #333;
        color: #fff !important;
    }

    .main-menu .navbar-collapse>.navigation li.dropdown .dropdown-btn {
        display: block;
        position: absolute;
        top: 18px;
        right: 10px;
        cursor: pointer;
    }

    .main-menu .navbar-collapse>.navigation li.dropdown:after,
    .main-menu .navigation>li>ul:before {
        display: none !important;
    }

    .banner-slider .carousel-inner .item {
        transition-property: opacity;
        min-height: initial;
        max-height: 500px;
    }

    .banner-slider .caption-left {
        width: 100%;
        padding: 0 10%;
    }

    /*serive-block*/
    .service-block .service-block-inner {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        max-width: 420px;
        margin: 0 auto;
    }

    .service-block:first-child {
        margin-top: 30px;
    }

    .service-block .service-block-inner:before {
        display: none;
    }

    .servicepage-inner-block {
        width: 48%;
        margin-right: 4%
    }

    .servicepage-inner-block:nth-child(2n) {
        margin-right: 0 !important;
    }

    .servicepage-inner-block:nth-child(3n) {
        margin-right: 4%;
    }

    /*reservation form*/

    #wpcf7-f215-p216-o1 p label {
        margin-right: 2%;
        width: 48%;
    }

    #wpcf7-f215-p216-o1 p label:nth-child(4n) {
        margin-right: 2%;
    }

    #wpcf7-f215-p216-o1 p label:nth-child(3n) {
        margin-right: 0;
    }

    /*counter*/
    .counter-area {
        padding: 28px 0;
        text-align: center;
    }

    .counter-content {
        line-height: 80px;
        vertical-align: top;
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }

    .team-carousel.owl-theme .owl-nav {
        left: 41%;
    }

    .main-header .main-menu ul.navigation>li>a {
        display: block;
        padding: 15px 20px 15px 15px;
    }

    .main-header .main-menu ul.navigation {
        text-align: left;
        margin-top: 10px;
    }

    .main-menu .navigation li ul li a {
        text-align: left;
        padding: 10px 10px 10px 30px;
        color: #fff;
    }

    .main-header {
        padding-bottom: 0px;
    }

    .main-menu .navbar-collapse {
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .header-lower .container,
    .header-lower .navbar-collapse {
        padding: 0;
    }
}

@media only screen and (max-width: 700px) {
    .logo-section .logo {
        max-width: 300px;
        margin: 0 auto;
    }

    .slider-frontcontent {
        width: 100%;
        float: none;
    }

    .call-to-action h2 {
        font-size: 24px;
    }

    .service-page-inner {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 640px) {
    .main-header .logo-section .logo-right-info ul {
        text-align: center;
        margin: 0 0 15px 60px !important;
    }

    .main-header .logo-section .logo-right-info {
        padding: 0;
    }
}

@media only screen and (max-width: 599px) {

    /*navigation*/
    .main-header .logo-section .logo-right {
        padding: 0px 0px;
    }

    /*footer suscribe form*/
    .subscribe-section .form .form-group {
        padding-right: 0px;
    }

    .subscribe-section .form .form-group button {
        position: relative;
        right: 0px;
        top: 0px;
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }

    /*testimonials*/
    .testimonials .owl-theme .owl-dots {
        left: 40%;
    }

    .team-carousel.owl-theme .owl-nav {
        text-align: center;
        -webkit-tap-highlight-color: transparent;
        position: absolute;
        bottom: -16%;
        left: 33%;
    }

    /*.product-tabs-btns*/
    .prod-tabs .tab-btns .tab-btn {
        padding: 8px 10px !important;
        margin-bottom: 15px;
    }

    .service-area .service-area-inner .col-xs-6 {
        width: 100%;
    }

    .call-us .call-us-text {
        display: block;
        margin-left: 0;
    }
}

@media only screen and (max-width: 520px) {

    #gallery .col-sm-6,
    footer .col-md-7,
    footer .col-md-5,
    .kingcabs-counter .col-sm-6 {
        width: 100%;
        float: none;
    }

    .footerup {
        top: -87px;
    }

    /*reservation form*/
    #wpcf7-f215-p216-o1 p label {
        margin-right: 0;
        width: 100%;
    }

    #wpcf7-f215-p216-o1 p label:nth-child(4n) {
        margin-right: 0;
    }

    .call-us .call-bx {
        padding: 0;
    }

    .section-title {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 480px) {
    .main-header .logo-section .logo-right-info.btn-box {
        display: none;
    }

    .section-title span {
        width: 60px;
    }

    .btn.btn-primary {
        padding: 10px 15px 8px;
    }

    .servicepage-inner-block {
        width: 100%;
        margin-right: 0;
    }

    .servicepage-inner-block:nth-child(2n) {
        margin-right: 0 !important;
    }

    .servicepage-inner-block:nth-child(3n) {
        margin-right: 0 !important;
    }

    .testimonials .owl-theme .owl-dots {
        left: 34%;
    }

    .call-to-action h2 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 360px) {
    .blog-posttime li {
        margin-right: 10px;
    }
}