/*SWITCH CONTROL*/
.customize-control-switch .customize-control-title {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    margin-bottom: 0;
    width: 100%;
}

.onoffswitch {
    width: 60px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    right: 6px;
    margin-top: 10px;
}

.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin .3s ease-in 0s;
    transition: margin .3s ease-in 0s
}

.onoffswitch-inner>div {
    float: left;
    position: relative;
    width: 50%;
    height: 30px;
    padding: 0;
    color: #fff;
    font-weight: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.onoffswitch-inner .onoffswitch-active {
    background-color: #eee;
    color: #FFF;
    border-radius: 16px;
}

.onoffswitch-inner .onoffswitch-inactive {
    background-color: #eee;
    color: #FFF;
    text-align: right;
    border-radius: 16px;
}

.kingcabs-repeater-fields .onoffswitch-inner .onoffswitch-active,
.kingcabs-repeater-fields .onoffswitch-inner .onoffswitch-inactive {
    background: #EEE;
}

.onoffswitch-switch {
    /* width: 30px; */
    text-align: center;
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    margin: 3px;
    font-size: 12px;
    line-height: 24px;
}

.onoffswitch-active .onoffswitch-switch {
    background: #3caf0e;
    left: 0;
    border-radius: 16px;
}

.onoffswitch-inactive .onoffswitch-switch {
    background: #7D7D7D;
    right: 0;
    border-radius: 16px;
}

.switch-on .onoffswitch-inner {
    margin-left: 0
}

/* .customize-control-switch[id^="customize-control-kingcabs"][id$="_disable"] {
    background: #e0e0e0;
    padding: 8px 20px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */

.kingcabs-fields.kingcabs-type-switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 14px;
}

.kingcabs-fields.kingcabs-type-switch .customize-control-repeater-title {
    margin: 0;
}